body{
  /*background-color:#55f;*/
  background-color:#aaf;
  background-image:url("/cardboard.jpg");
  background-size:100%;
  background-position: center center;
}
@media only screen and (max-device-width: 480px) {
  /*body{
    zoom:300%;
  }*/
}
form{
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);

  border:0 solid #000000;
  border-top:20px solid #000000;
  border-top:20px solid rgba(255,255,255,0.3);

  background-color:#ffffff;
  background-color:rgba(255,255,255,0.5);

  position:absolute;
  top:50%;
  left:50%;

  width:auto;
  height:auto;

  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%);
  -o-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);

  padding:10px;

  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

@media screen and (max-width: 700px) {
  form{
    width:90%;
  }
}

input, button{
  border:none;
  background-color:#dddddd;
  background-color:rgba(255,255,255,0.3);
  width:50%;

  -webkit-transition: 0.2s background-color;
  -moz-transition: 0.2s background-color;
  -ms-transition: 0.2s background-color;
  -o-transition: 0.2s background-color;
  transition: 0.2s background-color;
}

input:hover, button:hover{
  background-color:#cccccc;
  background-color:rgba(255,255,255,0.4);
}

input[type=file]::-webkit-file-upload-button{
  width:0;
  border:none;
  background-color:rgba(255,255,255,0.3);
  opacity:0;

  -webkit-transition: 0.9s all;
  -moz-transition: 0.9s all;
  -ms-transition: 0.9s all;
  -o-transition: 0.9s all;
  transition: 0.9s all;
}

input[type=file]:hover::-webkit-file-upload-button{
  width:75%;
  opacity:1;
}

input[type=file]:invalid:hover::-webkit-file-upload-button{
  width:100%;
}

input[type=file]:invalid::-webkit-file-upload-button{
  opacity:1;
  width:100%;
}

.spoilerText{
  display:none;
}
.spoilerChecked{
  visibility:hidden;
  width:100%;
}
.spoilerChecked.ie{
  visibility:visible;
}
.spoilerChecked::before{
  visibility:visible;

  position:absolute;
  width:15px;
  height:13px;
  /*background-color: #000;*/
  background-image: url("/small-triangle.png");
  background-size:100%;

  transform: rotate(-90deg) ;
  -webkit-transform: rotate(-90deg) ;
  -moz-transform: rotate(-90deg) ;
  -o-transform: rotate(-90deg) ;
  -ms-transform: rotate(-90deg) ;

  content:"";

  -webkit-transition: transform 0.2s;
  -moz-transition: transform 0.2s;
  -ms-transition: transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
}
.spoilerChecked:hover::before{
  transform: rotate(-80deg) ;
  -webkit-transform: rotate(-80deg) ;
  -moz-transform: rotate(-80deg) ;
  -o-transform: rotate(-80deg) ;
  -ms-transform: rotate(-80deg) ;
}
.spoilerChecked:checked::before{
  transform: rotate(0deg) ;
  -webkit-transform: rotate(0deg) ;
  -moz-transform: rotate(0deg) ;
  -o-transform: rotate(0deg) ;
  -ms-transform: rotate(0deg) ;
}
.spoilerChecked:checked:hover::before{
  transform: rotate(-10deg) ;
  -webkit-transform: rotate(-10deg) ;
  -moz-transform: rotate(-10deg) ;
  -o-transform: rotate(-10deg) ;
  -ms-transform: rotate(-10deg) ;
}
.spoilerChecked::after{

  content:"\00a0\00a0\00a0\00a0 Show "attr(showText);
  visibility:visible;
}
.spoilerChecked:checked::after{
  content:"\00a0\00a0\00a0\00a0 Hide "attr(showText);
}
.spoilerContent{
  display:block;
  height:auto;
  max-height:0;
  padding-left:10px;
  margin-left:5px;
  transform: scaleY(0);
  transform-origin: top;
  border-left: 1px solid #000;
  transition: max-height 0.2s, transform 0.2s;
}
.spoilerChecked:checked + .spoilerContent{
  max-height:1000px;
  display:block;
  transform: scaleY(1);
}

button{
  width:100%;
}

.helpbtn{
  display:inline;
}

.helptext{
  opacity:0;

  pointer-events: none;

  position:fixed;
  white-space: pre;

  background-color:#fff;
  background-color:rgba(255,255,255,0.1);

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);

  transform: scaleY(0);
  transform-origin: top;

  -webkit-transition: 0.2s all;
  -moz-transition: 0.2s all;
  -ms-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.helplink:hover + .helptext{
  pointer-events: all;

  display:block;
  opacity:1;
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);


  transform: scaleY(1);
}

.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:30px;

  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -ms-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);

  background-color:#ffffff;
  background-color:rgba(255,255,255,0.5);
}
.navbari{
  float:left;
  display:inline-block;

  background-color:#eeeeee;
  background-color:rgba(255,255,255,0.0);

  transition:0.5s all;
  height:100%;
  border-bottom:0 solid #aaa;
  border-bottom:0 solid rgba(255,255,255,0.4);

  box-sizing: border-box;

  padding-left:10px;
  padding-right:10px;

  text-align:center;line-height:30px;height:30px;

  text-decoration: none;
  color:#000;
}
.navbari.navbariselected{
  border-bottom-width: 5px;

  box-sizing: border-box;
}
.navbari:hover{
  background-color:#dddddd;
  background-color:rgba(255,255,255,0.3);

  border-bottom-width:30px;

  box-sizing: border-box;
}

code::before{
  content:"\00a0";
}

code::after{
  content:"\00a0";
}



/*input[type="text"], input[type="number"]{
  text-align:center;

  -webkit-transition: 0.2s text-align;
  -moz-transition: 0.2s text-align;
  -ms-transition: 0.2s text-align;
  -o-transition: 0.2s text-align;
  transition: 0.2s text-align;
}

input[type="number"]{
  text-align:right;
}

input[type="text"]:focus, input[type="number"]:focus, input[type=text]:hover, input[type="number"]:hover{
  text-align:left;
}*/
